<%- include('head'); -%>
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
  <br><br>
<style>
  th{
    cursor: pointer;
  }
  .status_td{
      display: flex;
    justify-content: center;
  }
  .status{
      padding:5px 15px;
      color:#fff;
      border-radius:5px;
      font-size:13px;
      
  }
</style>
  <section class="content">
    <div class="card">
      <div class="card-header">
          Hotels
          <a href="<%=APP_URL%>admin/add_hotel" class="btn btn-primary" style="float: right;">Add Hotel</a>
      </div>
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped" data-add-new="categories" data-control="categories" id="myTable">
          <thead>
            <tr>
               <th >Hotel Name</th>
               <th >No of Room</th>
               <th >Location</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <% hotels.forEach(function(hotel,index){ %>
                <tr>
                 <td><%=hotel.hotel_name%></td>
                 <td><%=hotel.rooms%></td>
                 <td><%=hotel.location%></td>
                 <td> 
                   <a href="<%=APP_URL%>admin/manage_rooms/<%=hotel.id%>" class="btn btn-info btn-sm view_btn"><i class="fa fa-eye"></i></a>
                   <a href="<%=APP_URL%>admin/edit_hotel/<%=hotel.id%>" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                   <a onclick="a($user.id)" class="btn btn-danger btn-sm delete_btn"><i class="fa fa-trash"></i></a>
                 </td>
               </tr>
              <% });%>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  </div>
  </section>
</div>
<%- include('foot'); -%>
<script>
        function a(id){
         var r = confirm("Are you sure");
         if (r == true) {
         location.replace("{{env('APP_URL').'super_admin/delete_clients/'}}"+id)
         } else {
         }
         }
</script>
</body>
</body>
</html>