<body>
    <style>
        .athefdiv {
            overflow: visible;
        }

        .navbar>ul>li {
            white-space: nowrap;
            padding: 6px;
        }
        .icon-lg {
                width: 3.5rem;
                height: 3.5rem;
                line-height: 3.5rem;
                text-align: center;
                font-size: 1.2rem;
            }
        .hotels_list {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            background: #f5f5f5db;
            padding: 20px;
            box-shadow: 0px 12px 12px 1px #8b8b8b4f;
            left: 50%;
            top: 38px;
            transform: translateX(-50%);
        }

        .hotels_list_element:hover .hotels_list {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s ease, visibility 0.5s ease;
        }

        .city-grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* Creates 3 equal columns */
            gap: 20px;
            /* Space between grid items */
            padding: 20px;
        }

        span.city-grid-item {
            background-color: #ffffff;
            padding: 10px !important;
            text-align: center;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: black;
            min-width: 100px;
            justify-content: center;
            align-items: center;
            font-family: "Inter", sans-serif ! IMPORTANT;
            transition: background-color 0.3s ease;
        }

        .city-grid-item:hover {
            background-color: #70c9a9;
            /* Highlight color when hovering */
            color: white;
        }
        .city-tab.active {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.city-tab {
    cursor: pointer;
}

    </style>
    <div class="shadow-sm bg-white" style="position:fixed;left: 0px;right: 0px;z-index: 999;">
        <% if(typeof(cowin) !=='undefined' ){ %>
            <div style="width:100%;height:40px; line-height:40px; background:#000;color:#fff;z-index:999" id="cowin">
                <span class="atguidlid" style="width:90%; float:left;font-size: 13px;"><a
                        href="<%=APP_URL%>covid-update"> Travel with confidence during COVID-19</a> | <a
                        href="<%=APP_URL%>best-rate-guaranteed">Best rate guaranteed</a> | <a
                        href="<%=APP_URL%>flexible-cancellation">Flexible cancellation</a> | <a
                        href="<%=APP_URL%>ecocommitment-go-green">Eco commitment - go green</a> | <a
                        href="<%=APP_URL%>food-delivery">Food delivery</a> | <a
                        href="<%=APP_URL%>download-brochure">Download brochure</a> | <a
                        href="<%=APP_URL%>partner-with-us">Partner with us</a> </span>
                <span class="atguidlim" style="width:90%; float:left;">
                    <marquee><a href="<%=APP_URL%>covid-update"> Travel with confidence during COVID-19</a> | <a
                            href="<%=APP_URL%>best-rate-guaranteed">Best rate guaranteed</a> | <a
                            href="<%=APP_URL%>flexible-cancellation">Flexible cancellation</a> | <a
                            href="<%=APP_URL%>ecocommitment-go-green">Eco commitment - go green</a> | <a
                            href="<%=APP_URL%>food-delivery">Food delivery</a> | <a
                            href="<%=APP_URL%>download-brochure">Download brochure</a> | <a
                            href="<%=APP_URL%>partner-with-us">Partner with us</a></marquee>
                </span>
                <span
                    style="background-color:#fff0;width:10%;font-size:25px;float:right;line-height: 30px;cursor: pointer;margin-top: 5px;"
                    onclick="document.getElementById('cowin').style.display = 'none';"><i
                        class="fa fa-times"></i></span>
            </div>
            <% } %>
                <header class="atheader">
                    <div class="athefdiv">
                        <div class="athelodiv"><img src="<%=APP_URL%>logo.png" style="height: 70%;width: auto;"></div>
                        <div class="atherifdiv">
                            <nav class="navbar1 order-last order-lg-0" style="">
                                <ul>
                                    <li><a class="nav-link scrollto" href="#membership">MEMBERSHIP</a></li>
                                    <li><a class="nav-link scrollto" href="<%=APP_URL%>loyalty-program">LOYALTY
                                            PROGRAM</a></li>
                                    <li>
                                        <div id="google_translate_element"></div>
                                    </li>
                                    <li><a class="nav-link scrollto" href="tel:+919971695346"><i class="fa fa-phone"
                                                aria-hidden="true" style="font-size:30px;"></i></a></li>
                                    <!-- icons -->
                                    <li><a class="nav-link scrollto" href="mailto:chandrabir.singh@skydoorhotels.com"><i
                                                class="fa fa-envelope" aria-hidden="true"
                                                style="font-size:24px;"></i></a></li>
                                    <li><a class="nav-link scrollto" href="https://wa.me/+919971695346"><i
                                                class="fa fa-whatsapp" aria-hidden="true"
                                                style="font-size:30px;"></i></a></li>
                                    <% if(user !=='' ){ %>
                                        <li><a class="nav-link scrollto" href="#">
                                                <%=user.name%>
                                            </a></li>
                                        <li><a class="nav-link scrollto" href="/logout"><i class="fa fa-sign-out"
                                                    aria-hidden="true" style="font-size:24px;"></i></a></li>
                                        <% }else{ %>
                                            <li><a class="nav-link scrollto" href="#"><i class="fa fa-user"
                                                        aria-hidden="true" style="font-size:24px;"
                                                        data-bs-toggle="modal" data-bs-target="#loginmodal"></i></a>
                                            </li>
                                            <% } %>
                                </ul>
                            </nav>
                        </div>
                        <hr class="navhr">
                        <div class="atherisdiv">
                            <nav id="navbar" class="navbar order-last order-lg-0"
                                style="padding:0px;float: right;box-shadow: 1px 1px 3px rgb(0 0 0 / 0%);margin-right: 10px;">
                                <ul>
                                    <li><a class="nav-link scrollto active" href="<%=APP_URL%>">HOME</a></li>
                                    <li class="position-relative hotels_list_element">
                                        <a class="nav-link scrollto" href="#">HOTELS</a>
                                        <div class="hotels_list">
                                            <div class="d-flex">
                                                <!-- Display the Single Hotel -->
                                                <div id="hotel-container">
                                                    <% cities.forEach((city, cityIndex) => { %>
                                                        <div class="hotel-list <%= cityIndex === 0 ? '' : 'd-none' %>" data-city="<%= city.city %>">
                                                            <% singleHotel.filter(hotel => hotel.city === city.city).forEach(singleHotel => { %>
                                                                <div>
                                                                    <div style="width: 398px;">
                                                                        <img src="<%= APP_URL %><%= singleHotel.main_image %>" class="w-100 h-100">
                                                                    </div>
                                                                    <div>
                                                                        <h5>
                                                                            <%= singleHotel.name %>
                                                                        </h5>
                                                                        <div class="hstack gap-3 mb-3">
                                                                            <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Free wifi" data-bs-title="Free wifi">
                                                                                <i class="fa-solid fa-wifi"></i>
                                                                            </div>
                                                                            <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Swimming Pool" data-bs-title="Swimming Pool">
                                                                                <i class="fa-solid fa-swimming-pool"></i>
                                                                            </div>
                                                                            <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Central AC" data-bs-title="Central AC">
                                                                                <i class="fa-solid fa-snowflake"></i>
                                                                            </div>
                                                                            <div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Free Service" data-bs-title="Free Service" aria-describedby="tooltip594622">
                                                                                <i class="fa-solid fa-concierge-bell"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex">
                                                                            <a href="<%= APP_URL %>hotels/<%= singleHotel.slug %>" 
                                                                               class="btn py-2 px-3 btnHover justify-content-center border flex-grow-1 rounded-0" 
                                                                               style="background: #005f96;color: white;">Explore</a>
                                                                            <a href="#" 
                                                                               class="btn py-2 px-3 btnHover justify-content-center border flex-grow-1 rounded-0" 
                                                                               style="background: #005f96;color: white;">Book now</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <% }) %>
                                                        </div>
                                                    <% }) %>
                                                </div>
                                                        <!-- Display Cities -->
                                                        <div>
                                                            <p class="text-center fw-bold mb-0" style="font-size: 18px;">Our hotels</p>
                                                            <div class="city-grid-container">
                                                                <% cities.forEach((city, index) => { %>
                                                                    <span class="city-grid-item city-tab text-capitalize <%= index === 0 ? 'active' : '' %>" 
                                                                        data-city="<%= city.city %>">
                                                                        <%= city.city %>
                                                                    </span>
                                                                <% }) %>
                                                                <span class="city-grid-item" onclick="window.location.href='<%= APP_URL %>hotels';">Explore All</span>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li><a class="nav-link scrollto" href="<%=APP_URL%>resorts">RESORTS</a></li>
                                    <li><a class="nav-link scrollto" href="<%=APP_URL%>private-luxary-residency">PRIVATE
                                            LUXARY RESIDENCY</a></li>
                                    <li><a class="nav-link scrollto" href="<%=APP_URL%>service-apartments">SERVICE
                                            APARTMENTS</a></li>
                                    <li><a class="nav-link scrollto" href="<%=APP_URL%>meet-and-events">MEETING &#38;
                                            EVENTS</a></li>
                                    <li><a class="nav-link scrollto" href="#">SPECIAL OFFERS</a></li>
                                    <li><a class="nav-link scrollto" href="<%=APP_URL%>e-gift-coupon">E- GIFT
                                            COUPONS</a></li>
                                    <li><a class="nav-link scrollto" style="border:solid #fff 1px;"
                                            href="<% if (typeof hid !== 'undefined') { %>#top<% }else{ %><%=APP_URL%><% } %>"
                                            onclick="booknowshow()">BOOK NOW</a></li>
                                </ul>
                                <i class="bi bi-list mobile-nav-toggle" style="color:#000; margin-right:10px;"></i>
                            </nav>
                        </div>
                    </div>
                </header>
    </div>
    <!-- <style>
        /* nav style */
        .main_font {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: .04rem;
            line-height: 62px;
            position: relative;
            display: inline-block;
        }

        .main_font::after,
        .main_font::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 0%;
            background: #70c9a9;
            transition: height 0.5s ease;
            /* Smooth transition for height change */
        }

        .main_font::after {
            right: 0px;
            top: 0;
        }

        .main_font::before {
            left: 0px;
            top: 0;
        }

        .link_con:hover a.main_font::after,
        .link_con:hover a.main_font::before {
            height: 100%;
        }

        .link_con {
            background-color: rgba(255, 255, 255, 0);
            transition: background-color 0.5s ease;
        }

        .link_con:hover {
            background-color: rgb(255, 255, 255);
        }

        .f1 {
            font-family: "Gowun Batang", serif;
            font-weight: 400;
            font-style: normal;
        }

        .f2 {
            font-family: "Gowun Batang", serif;
            font-weight: 700;
            font-style: normal;
        }
    </style>
    <div class="nav_container px-5 " style="
    height: 77px;
    overflow: visible;
    position: fixed;
    z-index: 2;
    width: 100%;
">
        <div class="d-flex justify-content-between align-items-center position-relative h-100 rounded" style="
    background: #d6dff3b8;
    top: 30px;
    z-index: 2;
    backdrop-filter: blur(1px);
">
            <div class="bg-white border rounded p-2 position-absolute py-3 gap-2" style="
    z-index: 2;
">
                <img src="http://localhost:5003/logo.png" class="h-100 w-100">
            </div>
            <div class=" flex-grow-1 h-100">
                <div class="d-flex justify-content-end h-100 gap-2">
                    <div class="h-100 link_con">
                        <a href="http://localhost:5003/"
                            class="text-decoration-none h-100 text-dark px-2 py-2 main_font f1 fw-bold ">Hotels</a>
                    </div>
                    <div class="h-100 link_con">
                        <a href="http://localhost:5003/"
                            class="text-decoration-none h-100 text-dark px-2 py-2 main_font f1 fw-bold ">Resorts</a>
                    </div>
                    <div class="h-100 link_con">
                        <a href="http://localhost:5003/"
                            class="text-decoration-none h-100 text-dark px-2 py-2 main_font f1 fw-bold ">Private Luxary
                            Residency
                        </a>
                    </div>
                    <div class="h-100 link_con">
                        <a href="http://localhost:5003/"
                            class="text-decoration-none h-100 text-dark px-2 py-2 main_font f1 fw-bold ">Service
                        </a>
                    </div>
                    <div class="h-100 link_con">
                        <a href="http://localhost:5003/"
                            class="text-decoration-none h-100 text-dark px-2 py-2 main_font f1 fw-bold ">Meeting &amp;
                            events
                        </a>
                    </div>
                    <div class="h-100 link_con">
                        <a href="http://localhost:5003/"
                            class="text-decoration-none h-100 text-dark px-2 py-2 main_font f1 fw-bold ">Exciting offers
                        </a>
                    </div>
                    <div class="h-100 link_con">
                        <a href="http://localhost:5003/"
                            class="text-decoration-none h-100 text-dark px-2 py-2 main_font f1 fw-bold ">Gift
                            Coupons
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->