<%- include('../partial/head'); -%>
    <%- include('../partial/nav'); -%>
        <style>
            .hero-image_hotelDetails {
                position: absolute;
                bottom: 0;
                max-width: 350px;
                padding: 1rem;
                background: rgba(255, 255, 255, 0.75);
                color: #333;
                font-weight: 400;
            }

            input[type="date"] {
                position: relative;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: auto;
                height: auto;
                color: transparent;
                background: transparent;
            }
        </style>
        <div class="position-relative" style="width: 100vw;height: calc(100vh - 200px);">
            <img loading="lazy" src="<%=APP_URL%>uploads/hotels/hoteldemo.jpg" class="h-100 w-100"
                style="object-fit: cover;" alt="">
            <div class="container">
                <div class="hero-image_hotelDetails">
                    <p id="heroTitle" class="app_modalTitle hero-image_hotelName gowun fs-5 fw-bold mb-2"><%=hotel.hotel_name%></p>
                    <p class="hero-image_address d-flex gap-2 mb-1" style="
                        align-items: baseline;
                    "><i class="fa-solid fa-hotel"></i><span><%= hotel.full_address ? hotel.full_address : `Fatehabad Road, Agra-282001, ., Agra,
                            Uttar
                            Pradesh, India, 282001`%></span></p>
                    <p class="hero-image_phone d-flex gap-2 mb-1" style="
                    align-items: baseline;">
                        <i class="fa-solid fa-phone-volume"></i>
                        <a href="tel:91-562-4048600">+91 99716 95346</a>
                    </p>
                    <p class="hero-image_website d-flex gap-2 mb-1" style="
                    align-items: baseline;">
                        <i class="fa-solid fa-globe"></i>
                        <a href="https://www.skydoor.com/hotels/hotel-name" target="_blank"
                            rel="noopener noreferrer"><%= hotelURL%></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="hotelAboutSection">
            <div class="row">
                <div class="col-md-8">
                    <form action="">
                        <div class="d-flex align-items-center gap-3 container py-2 px-0">
                            <div class="flex-grow-1 w-100 d-flex flex-column">
                                <label for="check_in" class="">Check In:
                                    <div class="border p-2 d-flex align-items-center">
                                        <input type="date" class="bg-transparent border-0" name="check_in"
                                            value="<%= queryData.check_in %>" id="">
                                        <i class="fa-regular fa-calendar-days"></i>
                                    </div>
                                </label>
                            </div>
                            <div class="flex-grow-1 w-100 d-flex flex-column">
                                <label for="check_out" class="">Check Out:
                                    <div class="border p-2 d-flex align-items-center">
                                        <input type="date" class="bg-transparent border-0" name="check_out"
                                            value="<%= queryData.check_out %>" id="">
                                        <i class="fa-regular fa-calendar-days"></i>
                                    </div>
                                </label>
                            </div>
                            <div class="flex-grow-1 w-100 d-flex flex-column">
                                <label for="" class="">Adults:
                                    <div class="w-100 border p-2">
                                        <select name="adults" id="" class="bg-transparent border-0 w-100">
                                            <option value="1" class="text-black" <%=queryData.adults=="1" ? 'selected'
                                                : '' %>>1</option>
                                            <option value="2" class="text-black" <%=queryData.adults=="2" ? 'selected'
                                                : '' %>>2</option>
                                            <option value="3" class="text-black" <%=queryData.adults=="3" ? 'selected'
                                                : '' %>>3</option>
                                            <option value="4" class="text-black" <%=queryData.adults=="4" ? 'selected'
                                                : '' %>>4</option>
                                            <option value="5" class="text-black" <%=queryData.adults=="5" ? 'selected'
                                                : '' %>>5</option>
                                        </select>
                                    </div>
                                </label>
                            </div>
                            <div class="flex-grow-1 w-100 d-flex flex-column">
                                <label for="" class="">Children:
                                    <div class="w-100 border p-2">
                                        <select name="children" id="" class="bg-transparent border-0 w-100">
                                            <option value="0" class="text-black" <%=queryData.children=="0" ? 'selected'
                                                : '' %>>0</option>
                                            <option value="1" class="text-black" <%=queryData.children=="1" ? 'selected'
                                                : '' %>>1</option>
                                            <option value="2" class="text-black" <%=queryData.children=="2" ? 'selected'
                                                : '' %>>2</option>
                                            <option value="3" class="text-black" <%=queryData.children=="3" ? 'selected'
                                                : '' %>>3</option>
                                            <option value="4" class="text-black" <%=queryData.children=="4" ? 'selected'
                                                : '' %>>4</option>
                                            <option value="5" class="text-black" <%=queryData.children=="5" ? 'selected'
                                                : '' %>>5</option>
                                        </select>
                                    </div>
                                </label>
                            </div>

                        </div>
                    </form>

                    <!-- rooms -->
                    <div class="mt-4">
                        <h3>Rooms</h3>
                        <div class="room-wrapper vstack gap-3">
                            <div class=" border rounded">
                                <div class="d-flex flex-md-row flex-column">
                                    <div>
                                        <div class="sty position-relative" style="width: 340px; aspect-ratio: 1.5/1;">
                                            <img loading="lazy"
                                                src="http://localhost:5004/uploads/rooms/deluxe_room.jpg"
                                                alt="Place Name 4" class="w-100 h-100">
                                            <div class="position-absolute top-0 end-0 m-3 bg-white p-2">
                                                <h6 class="m-0">Deluxe Room</h6>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="flex-grow-1 w-100 d-flex flex-column p-2">
                                        <div class="d-flex gap-2 align-items-center">
                                            <span class="mb-0">~350 sq.ft</span>
                                            <span>
                                                <i class="fa-solid fa-circle"
                                                    style="font-size: 7PX;color: #c4c4c4;"></i>
                                            </span>
                                            <span class="mb-0">3 people</span>
                                            <span>
                                                <i class="fa-solid fa-circle"
                                                    style="font-size: 7PX;color: #c4c4c4;"></i>
                                            </span>
                                            <span>1 extra bed</span>
                                        </div>
                                        <div>
                                            <div class="my-2">
                                                <span
                                                    class="badge rounded-pill bg-white border text-muted  inter ">Swimming
                                                    pool</span>
                                                <span
                                                    class="badge rounded-pill bg-white border  text-muted inter ">Spa</span>
                                                <span class="badge rounded-pill bg-white border  text-muted inter ">Air
                                                    Conditioner</span>
                                                <span
                                                    class="badge rounded-pill bg-white border  text-muted inter ">Kids'
                                                    play
                                                    area</span>
                                                <span
                                                    class="badge rounded-pill bg-white border  v_sm_text  inter text-success">and
                                                    many more</span>
                                            </div>

                                        </div>
                                        <div class="discription">
                                            <p class="mb-1 fw-bold">Description</p>
                                            <p class="mb-2">Area ~ 250 saft., blend of rich interiors and modern
                                                amenities.
                                                The Deluxe room is a spacious and fantastic experience for your stay.
                                            </p>
                                        </div>
                                        <div class="deal border-top border-bottom py-2">
                                            <p class="mb-1 fw-bold fs-5" style="color:#0CB2A7;">Deal</p>
                                            <p class="fw-bold">
                                                LogIn and avail 10% off on best available rates
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="mb-0 gowun" style="font-size: 26px;"><span class="text-muted"
                                                    style="
                                            text-decoration: line-through;
                                            font-size: 17px;
                                        ">4500 RS</span> 3000 Rs
                                                /<span class=" inter" style="font-size: 16px;">Night</span>
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end gap-2 align-items-center">

                                            <button class="btn rounded-0 py-2 px-3 btnHover rounded-pill border">
                                                Book Now</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 vstack gap-3">
                    <div class="border bg-white booking-form-container mt-3" style="position: relative; top: auto;">
                        <!-- Cart Header -->
                        <div class="cart-header p-2">
                            <h4 class="mb-2">Your Cart: <span class="text-success">1 Item</span></h4>
                        </div>

                        <!-- Cart Body -->
                        <div class="cart-body p-3 pt-0">
                            <!-- Total Section -->
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0">Total</h5>
                                <h5 class="fw-bold mb-0">₹7,281.85</h5>
                            </div>
                            <p class="text-muted mb-0 VsmaTxt">Including taxes and fees</p>

                            <!-- Item Section -->
                            <div class="border p-3 px-2 mb-3">
                                <div class="d-flex justify-content-between">
                                    <h6 class="fw-bold mb-0">
                                        Deluxe Room</h6>
                                    <h6 class="mb-0">₹6,501.65</h6>
                                </div>
                                <p class="text-muted small mb-1">1 Night stay</p>
                                <div class="d-flex justify-content-between">
                                    <p class=" mb-0">
                                        Taxes and Fees</p>
                                    <p class="mb-0">₹780.20</p>
                                </div>


                                <!-- Date & Guests -->
                                <p class="text-muted small mt-2 mb-1 fw-bold">Fri, Nov 1 2024 - Sat, Nov 2 2024</p>
                                <p class="text-muted small fw-bold mb-0">1 Adult</p>

                                <!-- Edit & Remove Links -->
                                <div>
                                    <a href="#" class="text-decoration-none text-warning">Edit</a>
                                    <span class="mx-2">•</span>
                                    <a href="#" class="text-decoration-none text-warning">Remove</a>
                                </div>
                            </div>

                            <!-- Total Section at Bottom -->
                            <div class="d-flex justify-content-between fw-bold">
                                <h5 class="mb-0">Total</h5>
                                <h5 class="mb-0 fw-bold">₹7,281.85</h5>
                            </div>
                            <p class="text-muted VsmaTxt mb-0">Including taxes and fees</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <section>
        </section>
        <%- include('../partial/foot'); -%>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const formElement = document.querySelector('.booking-form-container');
                    const hotelAboutSection = document.getElementById('hotelAboutSection');

                    window.addEventListener('scroll', function () {
                        let sectionRect = hotelAboutSection.getBoundingClientRect();
                        let formHeight = formElement.offsetHeight;
                        let sectionTop = sectionRect.top + window.pageYOffset;
                        let sectionBottom = sectionTop + sectionRect.height;
                        let scrollPosition = window.pageYOffset;

                        let distanceFromBottom = sectionBottom - scrollPosition;

                        if (scrollPosition > sectionTop && distanceFromBottom > formHeight) {
                            formElement.style.position = 'fixed';
                            formElement.style.top = '120px';
                            formElement.style.width = 'calc(100% - 72.66666%)';
                        }
                        else if (distanceFromBottom <= formHeight) {
                            formElement.style.position = 'fixed';
                            formElement.style.width = 'calc(100% - 72.66666%)';
                            formElement.style.top = (distanceFromBottom - formHeight) + 'px';
                        }
                        else {
                            formElement.style.position = 'relative';
                            formElement.style.top = 'auto';
                            formElement.style.width = 'calc(100%)';
                        }
                    });
                });

            </script>