<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->

  <title>HOTEL </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">
  <link href="<%=APP_URL%>assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="<%=APP_URL%>assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<%=APP_URL%>assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="<%=APP_URL%>assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="<%=APP_URL%>assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="<%=APP_URL%>assets/vendor/remixicon/remixicon.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="<%=APP_URL%>assets/css/owl.css">
  <link rel="stylesheet" href="<%=APP_URL%>assets/css/cloudflare.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="<%=APP_URL%>assets/css/style.css" rel="stylesheet">
  <link href="<%=APP_URL%>assets1/site/css/style.css" rel="stylesheet">
  <link href="<%=APP_URL%>assets1/site/css/style4.css" rel="stylesheet">
  <link rel="stylesheet" href="<%=APP_URL%>assets/css/picscat.css">
  <link rel="icon" href="<%=APP_URL%>fav.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="emoji.js"></script>
    <script>
      $(function(){
        //var emojis = ['&#x1F620;'];
        //$("#emoji-div").emoji({ value: 4 });
        $("#emoji-div").emoji();
      });
    </script>
<style>
  @font-face {
  font-family: msjhl;
  src: url(/font/msjhl.ttc);
  }
  @font-face {
  font-family: Museo300;
  src: url(/font/Museo300.otf);
  }
  body, h1, h2, h3, h4, h5, h6{font-family: msjhl!important;}
  body{
    font-size: 13px;
  }
    .goog-te-gadget-simple{
        background:#fff0!important;
        border:none!important;
    }
    .gallery-lightbox img{
        height:305px!important;
    }
    #bookform .form-control:hover ,.form-control:focus{
    border-color: #fff;
    background-color: #fff0;
    color: #ffffff;
    }
    .form-control:hover ,.form-control:focus{
    border-color: #97a0af;
    color: #000;
    }
    .form-group{
            margin-bottom: 10px;
    }.modal{
      z-index: 9999999999999999999999;
    }
    .web-img{
      transition: 0.3s;
    }
    .web-img:hover{
      transform: scale(1.05);
    }
</style>
</head>